div .child {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

div .child:hover {
  background-color: cornflowerblue;
}

input:focus {
  border: orange !important;
}

div::selection{
  background-color: rgb(165, 140, 164);
  color: wheat;
}

li{
 
}

li::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 10px;
  top:30px;
  background-color: teal;

}